@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');

.fascinate-inline-regular {
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: slategray;
}

a:hover {
    color: black;
}

.one {
    width: 100vw;
    height: 100vh;
    
    position: absolute;
}

.top-bar-one {
    position: relative;
    width: 100vw;
    height: 10vh;
    display: flex;
    background-color: antiquewhite;
    gap: 550px;
    border-bottom: 2px solid gray;
    padding: 25px;
}

input {
    position: relative;
    top: 5px;
    left: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    outline: none;
    border-radius: 20px;
    text-align: center;
}

.name {
    position: relative;
    bottom: 20px;
}

h1 {
    font-size: 3rem;
    color: rgb(50, 59, 67);
}

.links {
    display: flex;
    gap: 20px;
}

.quick-links {
    position: relative;
    top: 2vh;
    display: flex;
    gap: 30px;
}

.quick-links a {
    position: relative;
    left: 470px;
    color: black;
    cursor: pointer;
}

.big-picture {
    width: 100vw;
    height: 900px;
    background-image: url(images/big-picture.png);
    position: relative;
    top: 30px;
}

.big-picture a {
    position: relative;
    top: 695px;
    left: 200px;
    font-size: 20px;
    border: 2px solid burlywood;
    border-radius: 20px;
    padding: 10px;
    color: blanchedalmond;
    z-index: 1;
}

.big-picture a:hover {
    background-color: antiquewhite;
    color: black;
}

.two {
    width: 100vw;
    height: 75vh;
    background-color: antiquewhite;
    position: absolute;
    top: 100vh;
    padding-left: 20px;
    padding-right: 20px;
}

h2 {
    position: relative;
    text-align: center;
    top: 20px;
    color: rgb(71, 82, 93);
    font-size: xx-large;
    border-bottom: 2px solid slategray;
}

.living-tab {
    display: flex;
    gap: 200px;
    position: relative;
    left: 50px;
}

.living-tab figure img {
    border-radius: 25px;
    position: relative;
    top: 45px;
}

.living-tab figcaption {
    position: relative;
    top: 50px;
    font-size: 20px;
}

.living-tab figcaption a {
    text-decoration: underline;
}

.living-paragraph {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(50, 59, 67);
    position: relative;
    top: 100px;
}

.three {
    width: 100vw;
    height: 100vh;
    background-color: rgb(71, 82, 93);
    position: absolute;
    top: 175vh;
}

.three h2 {
    position: relative;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: antiquewhite;
    border: none;
}

.videos {
    position: relative;
    top: 50px;
    left: 50px;
    width: 1800px;
    height: 700px;
    background-color: rgb(71, 82, 93);
    display: flex;
    overflow-y: scroll;
    gap: 50px;
}

footer {
    position: absolute;
    top: 275vh;
    background-color: rgb(50, 59, 67);
}

.info {
    position: relative;
    left: 560px;
    width: 100vw;
    height: 40px;
    display: flex;
    gap: 200px;
}

.info a {
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}

